@media (max-width: 360px) {
	#wizard .wizard_steps.anchor{
		padding: 0px 10px;
	}
	
	.actionBar{
		width:85%;
	}
	
	.datapreview{
		font-weight: bold;
		color: #000000
	}
	
	.btn-group-lg>.btn, .btn-lg {
		font-size:15px;
	}
	
	.confirm-inscription-title{			
		text-align: center;
		padding-bottom: 20px;
		font-size: 30px;
	}
}