RewriteEngine On 

RewriteRule    ^Login/?$    login.php    [NC,L]
RewriteRule    ^Home/?$    home.php    [NC,L]
RewriteRule    ^Inscripcion/?$    inscripcion.php    [NC,L]
RewriteRule    ^InscripcionPrevizualizar/?$    inscripcionprevizualizar.php    [NC,L]
RewriteRule    ^QueLlevo/?$    quellevo.php    [NC,L]
RewriteRule    ^Informaciones/?$    informaciones.php    [NC,L]
RewriteRule    ^TodaLaInfo/?$    todalainfo.php    [NC,L]

RewriteRule    ^Hanala/?$    hanala/    [NC,L]
RewriteRule    ^Hanala/index.php/?$    hanala/index.php    [NC,L]
RewriteRule    ^Hanala/Login/?$    hanala/login.php    [NC,L]
RewriteRule    ^Hanala/login.php/?$    hanala/login.php    [NC,L]
RewriteRule    ^Hanala/Home/?$    hanala/home.php    [NC,L]
RewriteRule    ^Hanala/home.php/?$    hanala/home.php    [NC,L]
RewriteRule    ^Hanala/Informaciones/?$    hanala/informaciones.php    [NC,L]
RewriteRule    ^Hanala/informaciones.php/?$    hanala/informaciones.php    [NC,L]
RewriteRule    ^Hanala/vermajaneinfo.php/?$    hanala/vermajaneinfo.php    [NC,L]
RewriteRule    ^Hanala/VerMajaneInfo/?$    hanala/vermajaneinfo.php    [NC,L]
RewriteRule    ^Hanala/GruposMajane/?$    hanala/gruposmajane.php    [NC,L]
RewriteRule    ^Hanala/gruposmajane.php/?$    hanala/gruposmajane.php    [NC,L]
RewriteRule    ^Hanala/Majanot/?$    hanala/majanot.php    [NC,L]
RewriteRule    ^Hanala/majanot.php/?$    hanala/majanot.php    [NC,L]
RewriteRule    ^Hanala/vermajane.php/?$    hanala/vermajane.php    [NC,L]
RewriteRule    ^Hanala/VerMajane/?$    hanala/vermajane.php    [NC,L]
RewriteRule    ^Hanala/QueLlevo/?$    hanala/quellevo.php    [NC,L]
RewriteRule    ^Hanala/quellevo.php/?$    hanala/quellevo.php    [NC,L]
RewriteRule    ^Hanala/cerrarsesion.php/?$    hanala/cerrarsesion.php    [NC,L]
RewriteRule    ^Hanala/inscriptos.php/?$    hanala/inscriptos.php    [NC,L]
RewriteRule    ^Hanala/Inscriptos/?$    hanala/inscriptos.php    [NC,L]
RewriteRule    ^Hanala/preinscriptos.php/?$    hanala/preinscriptos.php    [NC,L]
RewriteRule    ^Hanala/Preinscriptos/?$    hanala/preinscriptos.php    [NC,L]
RewriteRule    ^Hanala/verinscriptos.php/?$    hanala/verinscriptos.php    [NC,L]
RewriteRule    ^Hanala/VerInscriptos/?$    hanala/verinscriptos.php    [NC,L]
RewriteRule    ^Hanala/verpreinscriptos.php/?$    hanala/verpreinscriptos.php    [NC,L]
RewriteRule    ^Hanala/VerPreinscriptos/?$    hanala/verpreinscriptos.php    [NC,L]

AddDefaultCharset UTF-8